#date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:black;
    font-weight: 300;
  }
  
  body{
   background-image: url(../images/final.png);
   background-size: cover;
    text-align: center;
    background-repeat: no-repeat
  }
  .container{
    width: 100%;
    min-height: 100vh;
    }
  button{
    border: none;
    outline: none;
    padding: 16px 50px;
    color:burlywood;
    background-color: forestgreen;
  
  }
  
  ul li{
    list-style-type: none;
    font-size: 17px;
    padding: 12px 8px 12px 50 px;
    user-select: none;
    cursor: pointer;
  
  }
  ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./Host/images/unchecked.png);
    background-size: cover;
  }
  ul li.checked{
    text-decoration: line-through;
  }
  ul li.checked::before{
    background-image: url(./Host/images/checkbox.jpg);
  }
  ul li span{
    right: 0;
    top: 5px;
    width:100%;
    height: 25px;
    font-size: 18px;
    color:rgb(189, 107, 107) ;
    line-height: 50px;
    text-align: center;
  }
  ul li span:hover{
    background: #ededed;
  }
  